@import "compass/css3";

body {
  font-family: Roboto, sans-serif;
  background-color: #340468;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    perspective: 3.125vmin;

color:#990000
}
body::after {
  background-color: #340468;
  border-radius: 50%;
  box-shadow: 0 0 2.5vmin 2.5vmin #340468;
  content: "";
  height: 2.5vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vmin;
}

// Polygon -----------------------------

.polygon {
  animation: 4s linear infinite polygon;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  transform: rotatex(90deg) rotatey(0) translatey(-25vmin);
}

@keyframes polygon {
  100% {
    transform: rotatex(90deg) rotatey(360deg) translatey(0);
  }
}

// Side --------------------------------

$n: 16; // number of sides
$r: 25vmin; // inradius (apothem)
$a: 2 * $r * tan(180deg / $n); // side length

.side {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/231848/fractal-fire-sky-seamless-background.jpg);
  background-size: ($n * $a) 25%;
  filter: hue-rotate(-10deg);
  height: 100vmin;
  position: absolute;
  transform-origin: 0;
  width: calc(#{$a} + 1px);

  @for $i from 1 through $n {
    &:nth-child(#{$i}) {
      background-position: ($a * $i * -1) 0;
      transform: rotatey(360deg / $n * $i) translate3d(-50%, -50%, $r);
    }
  }
}



p {
font-weight: 900;

}
ul {
  font-weight:900;
}
li{
  font-weight:900;
}
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 0;
  color:#990000;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 0 20px;
  margin: 10;
  font-weight: 700;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('/Pictures/HammerBackground.jpg');
  background-size: cover;
  color: #990000;
  height: 400px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 10px;
  color: #990000;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  float:left;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  font-weight: 700;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

.portrait {
  width:  689px;
  height: 300px;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  font-size: 12px;
  padding: 30px 0;
  font-weight: 700;
}
footer .col-sm-2 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 30px;
  justify-content: left;
  font-weight: 700;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

footer ul {
  list-style: none;
  font-weight: 700;
}

font-weight-bold {
  font-weight: 700;

}
